/* FONTS
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(231, 231, 231);
}

nav {
    background-color: #1d1d1d;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

#main {
    margin-top: 40px;
}

#marginlist {
    margin: 10px;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    margin-top: 15px;
    font-size: 1.5rem;
}

#resources li {
    margin: 5px;
}

nav p {
    margin-bottom: 0;
}

#stat276h1 {
    margin-bottom: 20;
}

#examSchedules ul {
    margin-bottom: 10px;
    margin-top: 10px;
}

.dropdown {
    margin-left: 20px;
    margin-top: 30px;
}

.dropdown button {
    width: auto;
}
